body {
    margin: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
}

h2 {
    text-align: center;
}

a {
    color: #7c81aa;
}

a:hover {
    text-decoration: none;
}

.centered-column {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem;
}

.year-toggle {
    background-color: #f2f4f9;
    color: #333;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.year-toggle:hover, .year-open {
    background-color: #e6ebf4;
}

.year-toggle:after {
    content: '\02795';
    font-size: 0.7rem;
    float: right;
}

.year-open:after {
    content: "\2796";
}

.year-projects {
    overflow: hidden;
}

.year-projects>ul>li>a {
    font-weight: bold;
}

.year-projects>ul {
    list-style-type: none;
    padding: 0 1rem;
    margin: 0.2rem 0 1rem 0;
}

.year-projects>ul>li {
    margin: 0 0 0.5rem 0;
}

.category {
    text-transform: capitalize;
    display: inline-block;
    padding: 0.1rem 0.4rem 0.3rem 0.4rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: -1rem;
}

.category-hackathon {
    background-color: #fcdede;
}

.category-machine-learning {
    background-color: #eee2ff;
}

.category-robot {
    background-color: #fcf8de;
}

.category-rowing {
    background-color: #e2f6ff;
}

.category-video {
    background-color: #fcdef7;
}

.category-web {
    background-color: #e6fcde;
}