:root {
    --color-hackathon-light: #fcdede;
    --color-machine-learning-light: #eee2ff;
    --color-robot-light: #fcf8de;
    --color-rowing-light: #e2f6ff;
    --color-video-light: #fcdef7;
    --color-web-light: #e6fcde;
}

body {
    margin: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

a {
    color: #7c81aa;
}

a:hover {
    text-decoration: none;
}

.centered-column {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

.centered-column-wide {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

.year-toggle {
    background-color: #f2f4f9;
    color: #333;
    cursor: pointer;
    padding: 0.7rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.3s;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.year-toggle:hover, .year-open {
    background-color: #e6ebf4;
}

.year-toggle:after {
    content: '\02795';
    font-size: 0.7rem;
    float: right;
}

.year-open:after {
    content: "\2796";
}

.year-projects {
    overflow: hidden;
}

.year-projects>ul>li>a {
    font-weight: bold;
}

.year-projects>ul {
    list-style-type: none;
    padding: 0 0.7rem;
    margin: 0.2rem 0 1rem 0;
}

.year-projects>ul>li {
    margin: 0 0 0.5rem 0;
}

.category {
    text-transform: capitalize;
    display: inline-block;
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: -1rem;
}

div.category {
    margin: 0 0.15rem -1rem 0.15rem;
}

.category-bullet {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 10px;
    height: 10px;
    width: 10px;
    margin-left: 0.3rem;
}

.background-hackathon {
    background-color: var(--color-hackathon-light);
}

.background-machine-learning {
    background-color: var(--color-machine-learning-light);
}

.background-robot {
    background-color: var(--color-robot-light);
}

.background-rowing {
    background-color: var(--color-rowing-light);
}

.background-video {
    background-color: var(--color-video-light);
}

.background-web {
    background-color: var(--color-web-light);
}

.photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
}

.photo-container>div {
    height: calc((50rem - 3 * 0.5rem) / 4);
    width: 100%;
    background-color: #f2f4f9;
    display: grid;
    grid-template: 1fr / 1fr;
}

.photo {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
}
