{{ define "main" }}
<div class="centered-column">
    <div class="divider-full"></div>
    <!-- Split off category prefix from tag -->
    <h1>{{ range (last 1 (split .Title "-")) }}{{ . }}{{ end}}</h1>
    <p>These are all my projects tagged <b>{{ range (last 1 (split .Title "-")) }}{{ . }}{{ end}}</b>:</p>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{ .Title }}</a>
            {{ range .Params.categories }}
            <div class="category background-{{.}}">{{ humanize . }}</div>
            {{ end }}
            {{ .Description }}
        </li>
        {{ end }}
    </ul>
    <div class="divider-full"></div>
</div>
{{ end }}