{{ define "main" }}
<div class="centered-column">
    <div class="divider-full"></div>
    <!-- Split off category prefix from tag -->
    {{ $parts := split .Title "-"}}
    {{ $len := len $parts }}
    {{ $name := last (sub $len 1) $parts}}
    <h1>{{ delimit $name " " }}</h1>
    <p>These are all my projects tagged <b>{{ delimit $name " " }}</b>:</p>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{ .Title }}</a>
            {{ range .Params.categories }}
            <div class="category background-{{.}}">{{ humanize . }}</div>
            {{ end }}
            {{ .Description }}
        </li>
        {{ end }}
    </ul>
    <div class="divider-full"></div>
</div>
{{ end }}