<head>
    <!-- METADATA -->
    <meta property="twitter:card" content="summary_large_image">

    <!-- Homepage -->
    {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    <meta name="title" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="twitter:title" content="{{ .Site.Title }}">

    {{ $description := "Hi, I'm Leon! I'm an MSc Artificial Intelligence student at the University of Edinburgh. Previously, I studied Computer Science at Delft University of Technology."}}
    <meta name="description" content="{{ $description }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="twitter:description" content="{{ $description }}">

    <meta property="og:image" content="https://source.unsplash.com/GZd3l4Yxdxs">
    <meta property="twitter:image" content="https://source.unsplash.com/GZd3l4Yxdxs">

    <!-- List pages -->
    <!-- (Remove category- prefix from tags) -->
    {{ else if in .Page.Title "-" }}
    {{ $parts := split .Page.Title "-"}}
    {{ $len := len $parts }}
    {{ $name := last (sub $len 1) $parts}}
    <title>{{ delimit $name " " }} Projects | {{ .Site.Title }}</title>
    <meta name="title" content="{{ delimit $name ' ' }} Projects | {{ .Site.Title }}">
    <meta property="og:title" content="{{ delimit $name ' ' }} Projects | {{ .Site.Title }}">
    <meta property="twitter:title" content="{{ delimit $name ' ' }} Projects | {{ .Site.Title }}">

    <meta name="description" content="All the projects I've done with {{ delimit $name ' ' }}.">
    <meta property="og:description" content="All the projects I've done with {{ delimit $name ' ' }}.">
    <meta property="twitter:description" content="All the projects I've done with {{ delimit $name ' ' }}.">

    <meta property="og:image" content="https://source.unsplash.com/GZd3l4Yxdxs">
    <meta property="twitter:image" content="https://source.unsplash.com/GZd3l4Yxdxs">

    <!-- Project pages -->
    {{ else }}
    <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
    <meta name="title" content="{{ .Page.Title }} | {{ .Site.Title }}">
    <meta property="og:title" content="{{ .Page.Title }} | {{ .Site.Title }}">
    <meta property="twitter:title" content="{{ .Page.Title }} | {{ .Site.Title }}">

    <meta name="description" content="{{ .Page.Description }}">
    <meta property="og:description" content="{{ .Page.Description }}">
    <meta property="twitter:description" content="{{ .Page.Description }}">

    <!-- (Let social media pick image for project pages) -->
    {{ end }}

    <!-- CSS AND FONTS -->

    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic|Poppins:semibold"
        rel="stylesheet">

    <!-- FAVICON -->

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
</head>