{{ define "main" }}

<h1>Leon Overweel</h1>

<h2>Current Projects</h2>

<div class="centered-column">
    Coming soon!
</div>

<h2>Past Projects</h2>

<div class="centered-column">
    <p>
        These are some projects I've done in the past that are either completed or no longer active. Broadly, they fall
        into categories like 
        {{ $list := (.Site.Taxonomies.categories) }}
        {{ $len := (len $list) }}
        {{ range $key, $value := $list.ByCount }}
        <span class="category category-{{.Name}}">{{ humanize .Name }}</span>
        {{- if lt (add $key 2) $len }}, {{end}}
        {{- if eq (add $key 2) $len }}, and {{end}}
        {{- if eq (add $key 1) $len }}.{{end}}
        {{end}}
    </p>

    {{ range .Data.Pages.GroupByDate "2006" }}
    <button class="year-toggle year-open">{{ .Key }}</button>
    <div class="year-projects">
        <ul>
            {{ range .Pages }}
            <li>
                <a href="{{.Permalink}}">{{ .Title }}</a>
                {{ range .Params.categories }}
                <div class="category category-{{.}}">{{ humanize . }}</div>
                {{ end }}
                {{ .Description }}
            </li>
            {{ end}}
        </ul>
    </div>
    {{ end }}
</div>

<script>
    var acc = document.getElementsByClassName("year-toggle");
    var i;

    for (i = 0; i < acc.length; i++) {
        if (i >= 3) {
            acc[i].nextElementSibling.style.display = "none";
            acc[i].classList.toggle("year-open");
        }
        acc[i].addEventListener("click", function () {
            this.classList.toggle("year-open");
            var panel = this.nextElementSibling;
            if (panel.style.display === "none") {
                panel.style.display = "block";
            } else {
                panel.style.display = "none";
            }
        });
    }
</script>

<h2>Skills</h2>

<div class="centered-column">
    Coming soon!
</div>

<h2>Rowing</h2>

<div class="centered-column">
    Coming soon!
</div>
<h2>Photography</h2>

<div class="centered-column">
    Coming soon!
</div>

{{ end }}