{{ define "main" }}

<div class="hero">
    <div class="centered-column">
        <h1>Leon Overweel</h1>
        <div class="intro">
            <div>
                <p>
                    Hi, I'm Leon! I'm an MSc Artificial Intelligence student at the University of Edinburgh. Previously,
                    I studied Computer Science at Delft University of Technology.
                </p>
                <p>
                    Use the links below to contact me in English or Dutch, view my resume (<a
                        href="https://leonoverweel.github.io/resume">full online</a> or <a
                        href="https://github.com/leonoverweel/resume/blob/master/single-page/leon-overweel-resume.pdf">one-page
                        PDF</a>), or check out the rest of this site for my <a href="#current-projects">current
                        projects</a>, <a href="#past-projects">past projects</a>, <a href="#skills">skills</a>, and
                    <a href="#photography">photography</a>.
                </p>
            </div>
            <img src="images/headshot.jpg" />
        </div>
        <div class="divider-half"></div>
    </div>
</div>

<div class="centered-column social">
    <a target="_blank" href="mailto:l.overweel@gmail.com">
        <div>
            <img src="logos/email.svg">
            <div>Email</div>
        </div>
    </a>
    <a target="_blank" href="https://twitter.com/layon_overwhale">
        <div>
            <img src="logos/twitter.svg">
            <div>Twitter</div>
        </div>
    </a>
    <a target="_blank" href="https://github.com/leonoverweel">
        <div>
            <img src="logos/github.svg">
            <div>GitHub</div>
        </div>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/leonoverweel/">
        <div>
            <img src="logos/linkedin.svg">
            <div>LinkedIn</div>
        </div>
    </a>
    <a target="_blank" href="https://www.instagram.com/leonoverweel/">
        <div>
            <img src="logos/instagram.svg">
            <div>Instagram</div>
        </div>
    </a>
</div>

<div class="divider-full"></div>

<div class="centered-column">
    <div style="background-color: #f2f4f9; padding: 0.7rem; border-radius: 0.7rem; font-style: italic;">
        Hi recruiters! Starting this fall, I'll be available for research-oriented roles as machine learning engineer or scientist. I'm especially interested in companies in the Netherlands and companies working on the climate crisis. If you enjoy the rest of my site, please reach out using any of the means above!
    </div>
</div>

<div class="divider-half"></div>

<div class="centered-column">
    <h2><a name="current-projects">Current Projects ✨</a></h2>
    <p>
        Here's what I'm working on, from my day-to-day university program to my currently active side projects.
    </p>
</div>
<div class="centered-column wide current-projects">
    {{ range (where .Site.RegularPages "Section" "current") }}
    <div>
        <div class="project-name">{{ .Params.title }}</div>
        <div class="project-content">
            <div><img src="{{ .Params.image }}"/></div>
            {{ .Content }}
        </div>
    </div>
    {{ end }}
</div>

<div class="divider-full"></div>

<div class="centered-column">
    <h2><a name="past-projects">Past Projects ⏳</a></h2>

    <p>
        These are some projects I've done in the past, that are either finished or no longer active. There are
        {{ len (where .Pages "Section" "projects") }} projects, which broadly fall into categories like
        {{ $list := (.Site.Taxonomies.categories) }}
        {{ $len := (len $list) }}
        {{ range $key, $value := $list.ByCount }}
        <span class="category background-{{.Name}}">{{ humanize .Name }}</span>
        {{- if lt (add $key 2) $len }}, {{end}}
        {{- if eq (add $key 2) $len }}, and {{end}}
        {{- if eq (add $key 1) $len }}.{{end}}
        {{end}}
    </p>

    {{ range (where .Pages "Section" "projects").GroupByDate "2006" }}
    <button class="year-toggle year-open">
        {{- .Key -}}
        {{- range .Pages -}}
        {{- range .Params.categories -}}<div class="category-bullet background-{{.}}"></div>{{- end -}}
        {{- end -}}
    </button>
    <div class="year-projects">
        <ul>
            {{ range .Pages }}
            <li>
                <a href="{{.Permalink}}">{{ .Title }}</a>
                {{ range .Params.categories }}
                <div class="category background-{{.}}">{{ humanize . }}</div>
                {{ end }}
                {{ .Description }}
            </li>
            {{ end}}
        </ul>
    </div>
    {{ end }}
</div>

<script>
    var acc = document.getElementsByClassName("year-toggle");
    var i;

    for (i = 0; i < acc.length; i++) {
        if (i >= 3) {
            acc[i].nextElementSibling.style.display = "none";
            acc[i].classList.toggle("year-open");
        }
        acc[i].addEventListener("click", function () {
            this.classList.toggle("year-open");
            var panel = this.nextElementSibling;
            if (panel.style.display === "none") {
                panel.style.display = "block";
            } else {
                panel.style.display = "none";
            }
        });
    }
</script>

<div class="divider-full"></div>

<div class="centered-column">
    <h2><a name="skills">Skills 🛠</a></h2>

    <p>
        Here are some of the things I have experience with. Each category is sorted by how many projects I've used the
        skill for, and each skill links to related projects.
    </p>

    <p><b>Programming languages:</b>
        {{ range .Site.Taxonomies.tags.ByCount }}
        {{ if hasPrefix .Page.Title "language" }}
        <a href="{{ .Page.Permalink }}">{{ replace (strings.TrimPrefix "language-" .Page.Title) "-" " " }}</a>
        ({{ .Count }})
        {{ end }}
        {{ end }}
    </p>

    <p><b>Technical tools:</b>
        {{ range .Site.Taxonomies.tags.ByCount }}
        {{ if hasPrefix .Page.Title "tool" }}
        <a href="{{ .Page.Permalink }}">{{ replace (strings.TrimPrefix "tool-" .Page.Title) "-" " " }}</a>
        ({{ .Count }})
        {{ end }}
        {{ end }}
    </p>

    <p><b>Machine learning packages:</b>
        {{ range .Site.Taxonomies.tags.ByCount }}
        {{ if hasPrefix .Page.Title "ml" }}
        <a href="{{ .Page.Permalink }}">{{ replace (strings.TrimPrefix "ml-" .Page.Title) "-" " " }}</a> ({{ .Count }})
        {{ end }}
        {{ end }}
    </p>

    <p><b>Machine learning models:</b>
        {{ range .Site.Taxonomies.tags.ByCount }}
        {{ if hasPrefix .Page.Title "model" }}
        <a href="{{ .Page.Permalink }}">{{ replace (strings.TrimPrefix "model-" .Page.Title) "-" " " }}</a>
        ({{ .Count }})
        {{ end }}
        {{ end }}
    </p>

    <p><b>Web APIs:</b>
        {{ range .Site.Taxonomies.tags.ByCount }}
        {{ if hasPrefix .Page.Title "api" }}
        <a href="{{ .Page.Permalink }}">{{ replace (strings.TrimPrefix "api-" .Page.Title) "-" " " }}</a> ({{ .Count }})
        {{ end }}
        {{ end }}
    </p>

    <p><b>Creative + video skills:</b>
        {{ range .Site.Taxonomies.tags.ByCount }}
        {{ if hasPrefix .Page.Title "skill" }}
        <a href="{{ .Page.Permalink }}">{{ replace (strings.TrimPrefix "skill-" .Page.Title) "-" " " }}</a>
        ({{ .Count }})
        {{ end }}
        {{ end }}
    </p>
</div>

<div class="divider-half"></div>

<div class="dark">
    <div class="divider-half"></div>
    <div class="centered-column">
        <h2><a name="photography">Photography 📸</a></h2>
        <p>These are some of my favorite photo's I've taken over the years, mostly on family vacations with my Canon EOS
            60D digital SLR.</p>
    </div>

    <div class="centered-column wide photo-container">
        <div><a href="https://unsplash.com/photos/mgHMNt38OJc" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/mgHMNt38OJc"></a></div>
        <div><a href="https://unsplash.com/photos/GZd3l4Yxdxs" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/GZd3l4Yxdxs"></a></div>
        <div><a href="https://unsplash.com/photos/F10a9L4noiI" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/F10a9L4noiI"></a></div>
        <div><a href="https://unsplash.com/photos/HdjRAOhjIUA" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/HdjRAOhjIUA"></a></div>
        <div><a href="https://unsplash.com/photos/FPgnKBTrk5Y" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/FPgnKBTrk5Y"></a></div>
        <div><a href="https://unsplash.com/photos/TdU4sbTNMaQ" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/TdU4sbTNMaQ"></a></div>
        <div><a href="https://unsplash.com/photos/RinbHrn1iKU" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/RinbHrn1iKU"></a></div>
        <div><a href="https://unsplash.com/photos/RPJ3o0slFqk" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/RPJ3o0slFqk"></a></div>
        <div><a href="https://unsplash.com/photos/3zx8hP1OrCI" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/3zx8hP1OrCI"></a></div>
        <div><a href="https://unsplash.com/photos/6usr7NKxxWQ" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/6usr7NKxxWQ"></a></div>
        <div><a href="https://unsplash.com/photos/FGWiUw9Q1_I" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/FGWiUw9Q1_I"></a></div>
        <div><a href="https://unsplash.com/photos/HxpVj183xfU" target="_blank"><img class="photo"
                    src="https://source.unsplash.com/HxpVj183xfU"></a></div>
    </div>

    <div class="centered-column">
        <p>You can see more of my photos on <a href="https://unsplash.com/@leonoverweel">my Unsplash profile</a>.</p>
    </div>
    <div class="divider-half"></div>
</div>

<div style="height:5rem;">.</div>

{{ end }}